body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.p5Canvas {
  border: 1px solid black;
}

.chat__container {
  display: flex;
}

.system__message {
  font-weight: 800;
}

.fail__message {
  font-weight: 700;
  color: red;
}

.success__message {
  font-weight: 700;
  color: green;
}

.color__palette {
  display: flex;
}
.color__item {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.color__item.selected {
  border: 2px solid black;
}

.chatting__messages {
  height: 10rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.item {
  flex: 1;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#orange {
  background-color: orange;
}

#pink {
  background-color: pink;
}
