body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.container {
  padding: 0 1rem;
}

.unset {
  all: unset;
}

#roomContainer {
  position: relative;
  border: 1px solid rgb(178, 190, 195);
}

.canvas__controller {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  z-index: 100;
  background-color: white;
}

.p5Canvas {
  box-sizing: border-box;
  touch-action: none;
}

.chat__container {
  display: flex;
}

.system__message {
  font-weight: 800;
}

.fail__message {
  font-weight: 700;
  color: red;
}

.success__message {
  font-weight: 700;
  color: green;
}

.color__palette {
  display: flex;
  gap: 0.2rem;
}
.color__item {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.color__item.selected {
  border: 2px solid black;
}

.chatting__messages {
  height: 10rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.myrow {
  display: flex;
  align-items: center;
}

.space_between {
  justify-content: space-between;
}

.item {
  flex: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.margin {
  margin: 2rem;
}

.margin_1 {
  margin-bottom: 1rem;
}

.gap {
  padding: 1rem;
}

label {
  font-weight: 700;
  color: black;
}

.game_status_header {
  display: flex;
  gap: 0.5rem;
}

input[type="range"] {
  width: auto;
}

.btn {
  min-width: max-content;
}

.all_users {
  height: 7rem;
  overflow-y: scroll;

  scroll-behavior: smooth;
}

input[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  opacity: 1;
  pointer-events: all;
  position: relative;
}

.label_answerCheck {
  min-width: max-content;
}

.game_icon {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.game_icon:hover {
  opacity: 0.7;
}

.status_item {
  display: flex;
  gap: 0.5rem;
}

.small {
  font-size: 0.8rem;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#orange {
  background-color: orange;
}

#pink {
  background-color: pink;
}

@media screen and (max-width: 450px) {
  .myrow {
    flex-direction: column;
  }

  .container {
    width: auto;
  }

  .all_users {
    height: 3rem;
  }
}

.user_item {
  display: flex;
  justify-content: space-between;
}
